<!DOCTYPE html>
<html ng-app="EvTracker">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pokemon EV Tracker</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="PokemonCtrl" data-ng-init="init()">
  <div class="container">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header"><a href="#" class="navbar-brand">EV Tracker</a></div>
    
      <ul class="nav navbar-nav">
        <li>
          <select name="pokemon-names" ng-show="pokemonNames.length" id="pokemon-names" class="form-control" ng-model="selectedPokemon" ng-options="n.name for n in pokemonNames">
          </select>
        </li>
        <li><a href="#" id="add-pokemon" ng-click="addPokemon()">Add Pokemon</a></li>
        <li><a href="#" id="add-pokemon" ng-click="save()">Save</a></li>
      </ul>

    </div>
  </div>
  <div class="container">
    <div class="row">

      <div id="ev-settings" class="col-lg-12">
        <h2 class="col-lg-2">Ev Settings</h2>
        <div id="ev-options" class="col-lg-10">
          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                <label for="base-ev">Base Ev</label>
                <select name="base-ev" ng-change="totalEvs = calcEvs(evOptions)" id="base-ev" class="form-control" ng-init="evOptions.baseEv = 1" ng-model="evOptions.baseEv" ng-options="v for v in baseEvO">
                </select>
              </div><!-- End Col -->
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
                <label for="ev-stat">Stat</label>
                <select name="ev-stat" id="ev-stat" class="form-control" ng-init="evOptions.stat = evStats[0]" ng-model="evOptions.stat" ng-options="s.name for s in evStats">
                </select>
              </div><!-- End Col -->
              <div style="clear:both" class="hidden-lg hidden-sm hidden-md"></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><label for="btn-power-item-main" class="hidden-xs" >Power Item</label><button name="btn-power-item-main" class="btn btn-power-item" ng-click="toggleEvOption($event)">Power Item</button></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><label for="btn-horde-main" class="hidden-xs">Horde</label><button name="btn-horde-main" class="btn btn-horde" ng-click="toggleEvOption($event)">Horde Battle</button></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><label for="btn-pokerus-main" class="hidden-xs" >Pokerus</label><button name="btn-pokerus-main" class="btn btn-pokerus" ng-click="toggleEvOption($event)">Pokerus</button>
              </div>
            </div><!-- End Col -->
          </div><!-- End Row -->
        </div><!-- End Ev Options -->
      </div><!-- End Ev Settings -->
    </div><!-- End Row -->

    <div class="row">
      <div class="col-lg-12"><button class="btn btn-lg btn-primary" id="add-evs" ng-click="addEvs()">Add {{totalEvs}} Evs</button></div>
    </div><!-- End Row -->

    <div class="row" id="pokemon-row">
      <div class="pokemon-display clearfix col-lg-12 " ng-repeat="pokemon in currentTeamArray">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 pokemon-ev-display-img"><img src="img/xerneas.jpg" alt="" class="img-responsive"></div>
          <div class="col-lg-3 col-md-2 col-sm-3 col-xs-8 pokemon-data">
            <input type="text" ng-model="pokemon.nickname" maxlength="12" class="pokemon-name">
            <div class="div types"><span ng-repeat="type in pokemon.pokemon.type" class="type {{type | lowercase}}">{{type}}</span></div>
            <label for="ability-{{$index}}">Ability</label>
            <select name="ability-{{$index}}" id="ability-{{$index}}"class="form-control" ng-model="pokemon.ability" ng-options="a for a in pokemon.pokemon.abilities">
            </select>
            <label for="nature-{{$index}} ">Nature</label>
            <select name="nature-{{$index}}" class="form-control" id="nature-{{$index}}" ng-model="pokemon.nature" ng-options="n.name for n in natures" ng-change=
            "updateTables(pokemon,$index)">
            </select>
          </div>
          <div style="clear:both" class="hidden-lg hidden-sm hidden-md"></div>
          <div class="col-lg-3 col-md-3 col-sm-5 move-set">
            <div class="clearfix move-input-wrap">
              <div class="move-input">
                <select type="text" class="form-control" ng-init="pokemon.moves[0]" ng-model="pokemon.moves[0]" ng-options="m for m in pokemon.pokemon.moves"></select>
              </div>
            </div><!-- Close Move Wrapper -->
            
            <div class="clearfix move-input-wrap">
              <div class="move-input">
                <select type="text" class="form-control" ng-init="pokemon.moves[1]" ng-model="pokemon.moves[1]" ng-options="m for m in pokemon.pokemon.moves"></select>
              </div>
            </div><!-- Close Move Wrapper -->

            <div class="clearfix move-input-wrap">
              <div class="move-input">
                <select type="text" class="form-control" ng-init="pokemon.moves[2]" ng-model="pokemon.moves[2]" ng-options="m for m in pokemon.pokemon.moves"></select>
              </div>
            </div><!-- Close Move Wrapper -->

            <div class="clearfix move-input-wrap">
              <div class="move-input">
                <select type="text" class="form-control" ng-init="pokemon.moves[3]" ng-model="pokemon.moves[3]" ng-options="m for m in pokemon.pokemon.moves"></select>
              </div>
            </div><!-- Close Move Wrapper -->

          </div><!-- Close Moveset -->
          <div class="pokemon-stats col-lg-4 col-md-5">
            <table class="table-responsive table">
              <thead>
                <tr>
                  <th>Stat</th>
                  <th>Base</th>
                  <th>EVs</th>
                  <th>IVs</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody id="pokemon-tbody-{{$index}}">
                  <tr class="hp-row">
                    <td>{{pokemon.stats.hp.name}}</td>
                    <td>{{pokemon.pokemon.baseStats.hp}}</td>
                    <td>{{pokemon.stats.hp.evs}}</td>
                    <td>{{pokemon.stats.hp.ivs}}</td>
                    <td>{{pokemon.stats.hp.total}}</td>
                  </tr>
                  <tr class="atk-row">
                    <td>{{pokemon.stats.atk.name}}</td>
                    <td>{{pokemon.pokemon.baseStats.atk}}</td>
                    <td>{{pokemon.stats.atk.evs}}</td>
                    <td>{{pokemon.stats.atk.ivs}}</td>
                    <td>{{pokemon.stats.atk.total}}</td>
                  </tr>
                  <tr class="def-row">
                    <td>{{pokemon.stats.def.name}}</td>
                    <td>{{pokemon.pokemon.baseStats.def}}</td>
                    <td>{{pokemon.stats.def.evs}}</td>
                    <td>{{pokemon.stats.def.ivs}}</td>
                    <td>{{pokemon.stats.def.total}}</td>
                  </tr>
                  <tr class="spa-row">
                    <td>{{pokemon.stats.spa.name}}</td>
                    <td>{{pokemon.pokemon.baseStats.spa}}</td>
                    <td>{{pokemon.stats.spa.evs}}</td>
                    <td>{{pokemon.stats.spa.ivs}}</td>
                    <td>{{pokemon.stats.spa.total}}</td>
                  </tr>
                  <tr class="spd-row">
                    <td>{{pokemon.stats.spd.name}}</td>
                    <td>{{pokemon.pokemon.baseStats.spd}}</td>
                    <td>{{pokemon.stats.spd.evs}}</td>
                    <td>{{pokemon.stats.spd.ivs}}</td>
                    <td>{{pokemon.stats.spd.total}}</td>
                  </tr>
                  <tr class="spe-row">
                    <td>{{pokemon.stats.spe.name}}</td>
                    <td>{{pokemon.pokemon.baseStats.spe}}</td>
                    <td>{{pokemon.stats.spe.evs}}</td>
                    <td>{{pokemon.stats.spe.ivs}}</td>
                    <td>{{pokemon.stats.spe.total}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="single-options col-lg-12">
              <button class="btn btn-danger glyphicon glyphicon-remove" ng-click="removePokemon(pokemon)"></button>
              <select ng-change="calcEvs(pokemon.evOptions)"  class="base-ev form-control" ng-init="pokemon.evOptions.baseEv = 1" ng-model="pokemon.evOptions.baseEv" ng-options="v for v in baseEvO"> </select>
              <select class="ev-stat form-control" ng-init="pokemon.evOptions.stat = evStats[0]" ng-model="pokemon.evOptions.stat" ng-options="s.name for s in evStats"></select>
              <button name="btn-power-item" class="btn btn-power-item" ng-click="toggleEvOption($event,pokemon)">Power Item</button>
              <button name="btn-horde" class="btn btn-horde" ng-click="toggleEvOption($event,pokemon)">Horde Battle</button>
              <button name="btn-pokerus" class="btn btn-pokerus" ng-click="toggleEvOption($event,pokemon)">Pokerus</button>
              <button class="btn btn-primary add-evs" ng-click="addEvs(pokemon)">Add {{pokemon.evOptions.total}} Evs</button>
        </div>
      
    </div>

  </div>
  
  <script src="js/vendor/jquery-1.10.2.min.js"></script>
  <script src="js/vendor/lava.js"></script>
  <script src="js/vendor/angular/angular.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/linkedlist.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
