<!DOCTYPE html>
<html ng-app="EvTracker">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pokemon EV Tracker</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="PokemonCtrl" data-ng-init="init()">
  <div class="container">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header"><a href="#" class="navbar-brand">EV Tracker</a></div>
    
      <ul class="nav navbar-nav">
        <li>
          <select name="pokemon-names" ng-show="pokemonNames.length" id="pokemon-names" class="form-control" ng-model="selectedPokemon" ng-options="n.name for n in pokemonNames">
          </select>
        </li>
        <li><a href="#" id="add-pokemon" ng-click="addPokemon()">Add Pokemon</a></li>
      </ul>

    </div>
  </div>
  <div class="container">
    <div class="row">

      <div id="ev-settings" class="col-lg-12">
        <h2 class="col-lg-2">Ev Settings</h2>
        <div id="ev-options" class="col-lg-10">
          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                <label for="base-ev">Base Ev</label>
                <select name="base-ev" id="base-ev" class="form-control" ng-init="evOptions.baseEv = 1" ng-model="evOptions.baseEv" ng-options="v for v in baseEvO">
                </select>
              </div><!-- End Col -->
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
                <label for="ev-stat">Stat</label>
                <select name="ev-stat" id="ev-stat" class="form-control" ng-init="evOptions.stat = evStats[0]" ng-model="evOptions.stat" ng-options="s.name for s in evStats">
                </select>
              </div><!-- End Col -->
              <div style="clear:both" class="hidden-lg hidden-sm hidden-md"></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><label for="btn-power-item" class="hidden-xs" >Power Item</label><button name="btn-power-item" class="btn" id="btn-power-item" ng-click="toggleEvOption($event)">Power Item</button></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><label for="btn-horde" class="hidden-xs">Horde</label><button name="btn-horde" class="btn" id="btn-horde" ng-click="toggleEvOption($event)">Horde Battle</button></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><label for="btn-pokerus" class="hidden-xs" >Pokerus</label><button name="btn-pokerus" class="btn" id="btn-pokerus" ng-click="toggleEvOption($event)">Pokerus</button>
              </div>
            </div><!-- End Col -->
          </div><!-- End Row -->
        </div><!-- End Ev Options -->
      </div><!-- End Ev Settings -->
    </div><!-- End Row -->

    <div class="row">
      <div class="col-lg-12"><button class="btn btn-lg btn-primary btn-block" id="add-evs" ng-click="addEvs()">Add Evs</button></div>
    </div><!-- End Row -->

    <div class="row" id="pokemon-row">
      <div class="pokemon-display clearfix col-lg-12 " ng-repeat="pokemon in currentTeam">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 pokemon-ev-display-img"><img src="img/xerneas.jpg" alt="" class="img-responsive"></div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-8 pokemon-data">
            <h2 class="pokemon-name">{{pokemon.pokemon.name}}</h2>
            <div class="div types"><span class="type fairy">Fairy</span></div>
            <label for="ability-{{id}}">Ability</label>
            <select name="ability-{{id}}" class="form-control" ng-model="pokemon.ability" ng-options="a for a in pokemon.pokemon.abilities">
            </select>
            <label for="nature-{{id}} ">Nature</label>
            <select name="nature-{{id}}" class="form-control" id="nature-{{id}}" ng-model="pokemon.nature" ng-options="n.name for n in natures" ng-change=
            "updateTables(pokemon)">
            </select>
          </div>
          <div style="clear:both" class="hidden-lg hidden-sm hidden-md"></div>
          <div class="col-lg-3 col-md-3 col-sm-6 move-set">
            <div class="clearfix move-input-wrap">
              <div class="move-label">
                <label for="move-{{id}}-a">Move 1</label>
              </div>
              <div class="move-input">
                <select type="text" class="form-control" ng-init="pokemon.moves[0]" ng-model="pokemon.moves[0]" ng-options="m for m in pokemon.pokemon.moves"></select>
              </div>
            </div><!-- Close Move Wrapper -->
            
            <div class="clearfix move-input-wrap">
              <div class="move-label">
                <label for="move-{{id}}-b">Move 2</label>
              </div>
              <div class="move-input">
                <select type="text" class="form-control" ng-init="pokemon.moves[1]" ng-model="pokemon.moves[1]" ng-options="m for m in pokemon.pokemon.moves"></select>
              </div>
            </div><!-- Close Move Wrapper -->

            <div class="clearfix move-input-wrap">
              <div class="move-label">
                <label for="move-{{id}}-c">Move 3</label>
              </div>
              <div class="move-input">
                <select type="text" class="form-control" ng-init="pokemon.moves[2]" ng-model="pokemon.moves[2]" ng-options="m for m in pokemon.pokemon.moves"></select>
              </div>
            </div><!-- Close Move Wrapper -->

            <div class="clearfix move-input-wrap">
              <div class="move-label">
                <label for="move-{{id}}-d">Move 4</label>
              </div>
              <div class="move-input">
                <select type="text" class="form-control" ng-init="pokemon.moves[3]" ng-model="pokemon.moves[3]" ng-options="m for m in pokemon.pokemon.moves"></select>
              </div>
            </div><!-- Close Move Wrapper -->

          </div><!-- Close Moveset -->
          <div class="pokemon-stats col-lg-4 col-md-5">
            <table class="table-responsive table">
              <thead>
                <tr>
                  <th>Stat</th>
                  <th>Base</th>
                  <th>EVs</th>
                  <th>IVs</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody id="pokemon-tbody-{{pokemon.id}}">
                  <tr ng-repeat="stat in pokemon.stats" on-finish-render="ngRepeatFinished" class="{{stat.id}}-row">
                    <td>{{stat.name}}</td>
                    <td>{{getBaseStat(pokemon,stat.id)}}</td>
                    <td><input type="text" maxlength="3" value="{{stat.evs}}" ng-model="stat.evs" ng-change="updateStat(pokemon,stat.id)"></td>
                    <td><input type="text" maxlength="2" value="{{stat.ivs}}" ng-model="stat.ivs" ng-change="updateStat(pokemon,stat.id)"></td>
                    <td>{{stat.total}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
    </div>
      
    </div>

  </div>
  
  <script src="js/vendor/jquery-1.10.2.min.js"></script>
  <script src="js/vendor/lava.js"></script>
  <script src="js/vendor/angular/angular.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
